Repository romantix74/yandex_practicum_devops_course: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, build-frontend-code-job

.gitlab-ci.yml:

include:
  - 'backend/.gitlab-ci.yml'
  - 'frontend/.gitlab-ci.yml'

stages:
  - build

build-backend-code-job:
  stage: build  
  only:
    changes:
    - backend/*
  script:
    - cd backend
    - mvn package
  artifacts:
    paths:
      - backend/target/sausage-store-0.0.1-SNAPSHOT.jar

build-frontend-code-job:
  stage: build  
  only:
    changes:
    - frontend/*
  script:        
    - cd frontend
    - npm install
    - npm run build
  artifacts:
    paths:
      - frontend/dist/frontend

# telegram-notification-backend:
#   stage: notify
#   only:
#     changes:
#     - backend/*
#   script:
#     - curl <отправка вашего сообщения>
#   needs:
#     - build-backend-code-job

# telegram-notification-frontend:
#   stage: notify
#   only:
#     changes:
#     - frontend/*
#   script:
#     - curl <отправка вашего сообщения>
#   needs:
#     - build-frontend-code-job

glava2 giltab Ci fix
  .gitlab-ci.yml
Due: none

glava2 CI attempt 2
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job

glava2 CI att 6, send notification
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job

glava 2 practice 2.1
  backend/.gitlab-ci.yml
Due: build-backend-code-job

glava 2 practice 2.1 attempt 2
  backend/.gitlab-ci.yml
Due: build-backend-code-job

glava 2 practice 2.1 attempt 3
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job

glava 2 practice 2.1 attempt 4 spotbugs mave var added
  backend/.gitlab-ci.yml
Due: build-backend-code-job

glava 2 practice 2.1 url
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job

glava 2 , practice practice 2.2
  backend/.gitlab-ci.yml
Due: build-backend-code-job

glava 2 send notification , practice practice 2.2 att 2
  backend/.gitlab-ci.yml
Due: build-backend-code-job

glava 2 send notification , practice practice 2.2 change java controller att 3
  backend/.gitlab-ci.yml
  backend/src/main/java/com/yandex/practicum/devops/controller/OrderController.java
Due: build-backend-code-job

glava 2 send notification , practice practice 2.2 frontend last part
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job

glava 2 send notification , practice practice 2.2 frontend last part att 2
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job

glava 2 send notification , practice practice 2.2 frontend last part att 3
  .gitlab-ci.yml
Due: none

glava 2 send notification , practice practice 2.2 frontend last part att 4
  backend/.gitlab-ci.yml
Due: build-backend-code-job

Reporting available now
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/main/resources/log4j2.yml
  backend/src/main/resources/logback.xml
  backend/src/test/java/com/yandex/practicum/devops/task/ReportGeneratorTaskTest.java
Due: build-backend-code-job

glava3 wo ONLY att 1
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job

gl4. transfer
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/pom.xml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job

gl.4 backend/setting added
  backend/settings.xml
Due: build-backend-code-job

gl.4 backend/setting added att2
  backend/.gitlab-ci.yml
Due: build-backend-code-job

gl.4 backend/setting added att3
  backend/.gitlab-ci.yml
Due: build-backend-code-job

gl4 att before gitlab script
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job

gl4 before scrips att 5
  .gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job

gl4 before scrips att 6
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job

gl4 before scrips att 7
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job

gl4 before scrips att 8
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job

gl4 before scrips att 9
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job

gl4 before scrips att 10
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job

gl4 before scrips att 11
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job

gl4 before scrips att 12
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job

gl4 before scrips att 13
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job

gl4 before scrips att 14 backend att1
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job

gl 4 backend deploy att2
  backend/.gitlab-ci.yml
Due: build-backend-code-job

gl4 backend att 3
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/sausage-store-backend.service
Due: build-backend-code-job

gl 4 backend deploy att 4
  backend/.gitlab-ci.yml
Due: build-backend-code-job

gl 4 backend deploy att 5
  backend/.gitlab-ci.yml
  backend/sausage-store-backend.service
Due: build-backend-code-job

gl 4 backend deploy att 6
  backend/sausage-store-backend.service
Due: build-backend-code-job

gl 4 backend deploy att 7
  backend/sausage-store-backend.service
Due: build-backend-code-job

gl 4 backend deploy att 7 fix
  backend/.gitlab-ci.yml
Due: build-backend-code-job
