Repository romantix74/yandex_practicum_devops_course: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

glava8.1.2 att 26 dind backend
  backend/.gitlab-ci.yml
Due: backend

glava8.1.2 att 27 dind backend
  backend/.gitlab-ci.yml
Due: backend

glava8.1.2 att 28 dind backend
  backend/.gitlab-ci.yml
Due: backend

glava8.1.2 att 29 dind backend
  backend/.gitlab-ci.yml
  docker-compose.yml
Due: backend

glava8.1.2 att 30 dind backend
  docker-compose.yml
Due: none

glava8.1.2 att 31 dind backend
  backend/.gitlab-ci.yml
Due: backend

glava8.1.2 att 32 dind frontend
  docker-compose.yml
  frontend/.gitlab-ci.yml
Due: frontend

glava8.1.2 att 33 dind frontend
  docker-compose.yml
Due: none

glava8.1.2 att 34 dind frontend
  docker-compose.yml
Due: none

glava8.1.2 att 35 dind frontend
  frontend/.gitlab-ci.yml
Due: frontend

glava8.1.2 att 36 dind frontend
  docker-compose.yml
Due: none

glava8.1.2 att 37 dind frontend
  frontend/.gitlab-ci.yml
Due: frontend

glava8.1.2 att 38 dind frontend
  frontend/.gitlab-ci.yml
Due: frontend

glava8.1.2 att 39 dind frontend
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

glava8.1.2 att 40 dind frontend
  backend/.gitlab-ci.yml
Due: backend

glava8.1.2 att 41 dind frontend
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

glava8.1.2 att 42 dind frontend --no-debs flag
  frontend/.gitlab-ci.yml
Due: frontend

glava8.1.2 att 43 dind abckend recreate
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

glava8.1.2 att 44 dind backend recreate
  docker-compose.yml
Due: none

glava8.1.2 att 45 dind backend recreate
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

glava8.1.2 att 46 dind all recreate
  backend-report/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend

glava8.1.2 att 47 afte weekend dind all recreate
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

glava8.1.2 att 48 dind all recreate
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

glava8.1.2 att 49 disable flyway
  backend-report/.gitlab-ci.yml
  backend/pom.xml
  docker-compose.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

glava8.1.2 att 50
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

glava8.1.2 att 51
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

glava8.1.2 att 52
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  docker-compose.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

glava8.1.2 att 53
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

glava8.1.2 att 54
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

glava_8.2 att 1
  docker-compose.yml
  frontend/Dockerfile
Due: frontend

glava_8.2 att 2
  docker-compose.yml
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
Due: frontend

glava_8.2 att 3 revert to begining
  frontend/Dockerfile
Due: frontend

glava_8.2 att 4
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
Due: frontend

glava_8.2 att 5
  frontend/.gitlab-ci.yml
  frontend/nginx.tmpl
Due: frontend

glava_8.2 att 6
  frontend/Dockerfile
Due: frontend

glava8.2 att 7
  frontend/Dockerfile
Due: frontend

glava8.2 att 8
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
Due: frontend

glava8.2 att 9
  docker-compose.yml
  frontend/.gitlab-ci.yml
Due: frontend

glava8.2 att 10
  frontend/.gitlab-ci.yml
Due: frontend

glava8.2 att 11
  docker-compose.yml
Due: none

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
