Repository romantix74/yandex_practicum_devops_course: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

.gitlab-ci.yml:

stages:
  - module-pipelines

.before_script:
  before_script:
    - 'command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 600 ~/.ssh
    - echo "$SSH_KNOWN_HOSTS" >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts


frontend:
  stage: module-pipelines
  trigger:
    include:
      - "/frontend/.gitlab-ci.yml"
    strategy: depend # depend нужен, если какой-нибудь дочерний пайплайн свалился, мы знали, что общий пайплайн тоже идёт с ошибкой
  only:
    changes: # как только происходит изменение в папке frontend, запускается дочерний пайплайн, который лежит в этой папке
      - frontend/**/*

backend:
  stage: module-pipelines
  trigger:
    include:
      - "/backend/.gitlab-ci.yml"
    strategy: depend
  only:
    changes:  # как только происходит изменение в папке backend, запускается дочерний пайплайн, который лежит в этой папке
      - backend/**/*

glava_7 practice 1 att 9, frontend att 9
  frontend/deploy.sh
Due: frontend

glava_7 practice 1 att 9, frontend att 10
  backend/.gitlab-ci.yml
  backend/deploy.sh
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
Due: frontend, backend

glava_7 practice 1 att 9, frontend att 11
  backend/deploy.sh
  frontend/deploy.sh
Due: frontend, backend

glava_7 practice 1 att 9, frontend att 12
  frontend/deploy.sh
Due: frontend

glava_7 practice 1 att 9, frontend att 13
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
Due: frontend, backend

glava_7 practice 1 att 9, frontend att 14
  frontend/.gitlab-ci.yml
Due: frontend

glava_7 practice 1 att 9, frontend att 15
  frontend/deploy.sh
Due: frontend

glava_7 practice 1 att 9, frontend att 16
  frontend/deploy.sh
Due: frontend

glava 7.2 att 1 in master
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
Due: backend

glava 7.2 att 2 in master
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
Due: backend

glava 7.2 att 3 in master
  backend/src/main/resources/db/migration/V002__insert_data.sql
  frontend/.gitlab-ci.yml
Due: frontend, backend

glava 7.2 att 4 in master
  backend/src/main/resources/application.properties
Due: backend

glava 7.2 att 5 in master
  backend/deploy.sh
Due: backend

Extracted reports to the new microservice
  backend-report/Dockerfile
  backend-report/README.md
  backend-report/app.py
  backend-report/requirements.txt
  backend-report/test_app.py
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/test/java/com/yandex/practicum/devops/task/ReportGeneratorTaskTest.java
Due: backend

glava8.1.2
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
  backend-report/Dockerfile
  backend/.env
  docker-compose.yml
Due: backend

glava8.1.2 att 2
  backend-report/.gitlab-ci.yml
Due: none

glava8.1.2 att 3
  backend-report/.gitlab-ci.yml
Due: none

glava8.1.2 att 4
  backend-report/.gitlab-ci.yml
Due: none

glava8.1.2 att 5
  backend-report/.gitlab-ci.yml
Due: none

glava8.1.2 att 6
  backend-report/.gitlab-ci.yml
Due: none

glava8.1.2 att 7
  backend-report/.gitlab-ci.yml
Due: none

glava8.1.2 att 7 deploy by compose
  backend-report/.gitlab-ci.yml
  backend-report/deploy.sh
Due: none

glava8.1.2 att 8 deploy by compose
  backend-report/.gitlab-ci.yml
Due: none

glava8.1.2 att 9 deploy by compose
  backend-report/deploy.sh
Due: none

glava8.1.2 att 10 deploy by compose
  backend-report/deploy.sh
Due: none

glava8.1.2 att 11 deploy by compose
  backend-report/deploy.sh
Due: none

glava8.1.2 att 12 test PWD
  backend-report/deploy.sh
Due: none

glava8.1.2 att 13 test PWD CI_PROJECT_DIR
  backend-report/deploy.sh
Due: none

glava8.1.2 att 14 test ls CI_PROJECT_DIR
  backend-report/deploy.sh
Due: none

glava8.1.2 att 15 dind
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

glava8.1.2 att 16 dind
  backend-report/.gitlab-ci.yml
Due: none

glava8.1.2 att 17 dind
  backend-report/.gitlab-ci.yml
Due: none

glava8.1.2 att 18 dind
  backend-report/.gitlab-ci.yml
Due: none

glava8.1.2 att 19 dind
  .env
Due: none

glava8.1.2 att 20 dind
  docker-compose.yml
Due: none

glava8.1.2 att 21 dind
  .gitlab-ci.yml
Due: none

glava8.1.2 att 22 dind
  backend-report/.gitlab-ci.yml
Due: none

glava8.1.2 att 23 dind backend
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
  backend-report/deploy.sh
  backend/.gitlab-ci.yml
Due: backend

glava8.1.2 att 24 dind backend
  backend/.gitlab-ci.yml
Due: backend

glava8.1.2 att 25 dind backend
  backend/.gitlab-ci.yml
Due: backend
