Repository romantix74/yandex_practicum_devops_course: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

glava8.2 att 12
  docker-compose.yml
Due: none

glava8.2 att 13
  docker-compose.yml
Due: none

glava8.2 att 14
  frontend/.gitlab-ci.yml
Due: frontend

glava8.2 att 15
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

glava8.2 att 16
  backend/.gitlab-ci.yml
  docker-compose.yml
Due: backend

glava8.2 att 17
  frontend/nginx.tmpl
Due: frontend

glava_8.3 att 1
  backend/pom.xml
  docker-compose.yml
Due: backend

glava_8.3 att 2
  backend/.gitlab-ci.yml
Due: backend

glava_8.3 att 3
  docker-compose.yml
Due: none

glava_8.3 att 4 healthcheck added
  backend/.gitlab-ci.yml
Due: backend

glava_8.3 att 5 curl in docker installation
  backend/Dockerfile
Due: backend

glava_8.3 att 6 curl in docker installation
  backend/Dockerfile
Due: backend

glava_8.3 att 7 curl in docker installation
  backend/Dockerfile
Due: backend

glava_8.3 att 8 curl in docker installation
  backend/Dockerfile
Due: backend

glava_8.3 att 9 curl replaced by wget
  docker-compose.yml
Due: none

glava_8.3 att 10 curl replaced by wget
  backend/Dockerfile
Due: backend

glava_8.3 att 11 blue-green
  backend/.gitlab-ci.yml
Due: backend

glava_8.3 att 12 blue-green, jq added
  backend/.gitlab-ci.yml
Due: backend

glava_8.3 att 13 blue-green, alpine
  backend/.gitlab-ci.yml
Due: backend

glava_8.3 att 14 blue-green, alpine
  backend/.gitlab-ci.yml
Due: backend

glava_8.3 att 15 blue-green
  backend/.gitlab-ci.yml
Due: backend

glava_8.3 att 16 blue-green
  backend/.gitlab-ci.yml
Due: backend

glava 9 only rebuild for kuber images
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

glava_9.7 multicloud
  multicloud/ReadMe.txt
  multicloud/multicloud.jpg
Due: none

glava_10.1 screshhots of Grafana for Loki
  monitoring/glava_10.1/Screenshot from 2024-03-02 13-13-34.png
  monitoring/glava_10.1/Screenshot from 2024-03-02 13-15-53.png
Due: none

Prometheus metrics added
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/service/BusinessMetricsService.java
  backend/src/main/java/com/yandex/practicum/devops/service/OrderServiceImpl.java
  backend/src/main/resources/application.properties
Due: backend

glava10.2 pom
  backend/pom.xml
Due: backend

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
